<footer class="my-gradient-div">
    <div class="footer-container">
        <div class="footer-social">
            <h4>Social</h4>
            <div class="social-icons">
                <a href="https://www.x.com/vodafoneIT" target="_blank"><img src="assets/img/footer/x_png.webp" alt="X"></a>
                <a href="https://www.facebook.com/vodafoneIT" target="_blank"><img src="assets/img/footer/facebook_png.webp" alt="Facebook"></a>
                <a href="https://www.instagram.com/vodafoneit/" target="_blank"><img src="assets/img/footer/instagram_png.webp" alt="Instagram"></a>
                <a href="https://www.youtube.com/user/vodafoneit" target="_blank"><img src="assets/img/footer/youtube_png.webp" alt="YouTube"></a>
                <a href="https://it.linkedin.com/company/vodafone" target="_blank"><img src="assets/img/footer/LinkedIn_png.webp" alt="LinkedIn"></a>
            </div>
        </div>

        <div class="footer-columns">
            <div class="footer-column">
                <h4>Contatti</h4>
                <p>Telefono: <a href="tel:+390123456789">+39 012 3456789</a></p>
                <p>Email: <a href="mailto:info&#64;vodafone.it">info&#64;vodafone.it</a></p>
            </div>
            <div class="footer-column">
                <h4>Indirizzo</h4>
                <p>Vodafone Italia S.p.A.</p>
                <p>Via Caboto, 35</p>
                <p>10129 Torino, Italia</p>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; 2025 Vodafone Italia | Project Work a cura di Diomede Francesco</p>
    </div>
</footer>  