/* Footer */
footer {
    color: white;
    padding: 20px 10px;
    text-align: center;
    box-sizing: border-box;
    font-size: 0.9em;
    width: 100%;
    font-weight: bold;
}

h4 {
    font-weight: bold;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-social {
    text-align: left;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons img {
    height: 30px;
}

.social-icons img:hover {
    transform: scale(1.1);
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    min-width: 150px;
    text-align: left;
    margin: 0 5px;
}

.footer-column h4 {
    font-size: 1em;
    margin-bottom: 5px;
    color: #ffffff;
}

.footer-column p,
.footer-column a {
    font-size: 1.0em;
    line-height: 1.4;
    color: white;
    text-decoration: none;
}

.footer-column a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    border-top: 1px solid #ffffff;
    margin-top: 20px;
    padding-top: 10px;
}

.chi-siamo div {
    text-align: left;
}

.my-gradient-div {
    background: linear-gradient(to right, #E40000, #BB5992) !important;
}