nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}

nav .logo img {
    height: 40px;
}

nav .menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav .menu li {
    margin: 0 15px;
}

nav .menu li a {
    color: black;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    transition: color 0.3s;
}

nav .menu li a:hover {
    color: #ffff;
}