/* Intestazione */
header.bg-danger {
    padding: 30px 20px;
}

header.bg-danger h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

header.bg-danger p {
    font-size: 1em;
}

/* Contenuto Principale */
main {
    padding: 30px 20px;
}