.alert-danger {
	background-color: #C9291B;
	border-color: #C9291B;
	color: #FFF;
}

.alert-dismissible {
	padding-right: 30px;
}

.alert {
	padding: 10px 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 0px;
}

.error {
    width: 615px;
    padding: 10px;
    background-color: #E60000;;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    color: white;
    border-radius: 5px;
  }

.close-btn {
    cursor: pointer;
    color: white;
    background-color: transparent;
    border: none;
    font-size: 18px;
  }