body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #E60000;
    color: white;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: bold !important;
}

header p {
    margin: 10px 0 0;
    font-size: 1.2em;
    font-weight: bold !important;
}

main {
    padding: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 15px;
    font-size: 1em;
}

header,
main {
    margin-top: 70px;
}

.my-gradient-div {
    background: linear-gradient(to right, #E40000, #BB5992) !important;
}