.report-not-found {
    text-align: center;
    padding: 50px;
}

.report-not-found h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.report-not-found p {
    font-size: 1.1em;
    margin-bottom: 30px;
}

.report-not-found button {
    padding: 10px 20px;
    background-color: #E60000;
    color: white;
    border: none;
    cursor: pointer;
}